// ---------- IMPORTS ---------- \\
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,400,800i')

$section-seperator-fullscreen: 100px
$section-seperator-mobile: 50px
// ---------- OVERALL ---------- \\
body
  font-family: 'Raleway', sans-serif

*
  margin: 0
  padding: 0
  box-sizing: border-box

.grid
  max-width: 1000px
  width: 90%
  position: relative
  left: 50%
  transform: translate(-50%)

.section-seperator
  height: 100px
