// Extra sass that is used more than once
.grey-line
  height: 4px
  width: 150px
  background-color: #eaeaea
  border: none
  margin-top: -10px
  margin-bottom: 40px

.round-red-btn
  background-color: #d35050
  padding: 10px 15px
  text-decoration: none
  border-radius: 50px
  color: white
  transition: ease-in-out 300ms

  &:hover
    background-color: #c14c4c
// Start of css code
#starting-block
  background-color: #d35050
  width: 100%

  .x
    max-width: 1000px
    margin-left: auto
    margin-right: auto

  .contain-startblock
    margin-top: 60px

    img
      margin-bottom: -4px

  .quick-about
    color: white
    text-align: center
    margin-top: 50px

    h1, p
      max-width: 400px
      float: center
      margin-right: auto
      margin-left: auto

    p
      font-size: 18px

    h1
      font-size: 23px



// About section
.about-section
  margin-left: auto
  margin-right: auto
  display: block
  float: center
  text-align: center

  .content
    max-width: 550px
    margin-left: auto
    margin-right: auto

    h1
      margin-bottom: -15px
    p
      font-size: 18px
      margin-bottom: -10px

  img
    height: 300px
    margin-top: 60px

  .line
    height: 100px
    margin-bottom: 20px



// Work/Projects section
.work-section
  margin-left: auto
  margin-right: auto
  display: block
  float: center
  text-align: center
  max-width: 800px

  img
    height: 250px

  .illustration
    width: auto

  .guiding-lines
    width: 50%

  .grid
    h1
      margin-bottom: -15px

  .line
    height: 100px
    margin-top: 50px



// Articles section
.article-section
  margin-left: auto
  margin-right: auto
  display: block
  float: center
  text-align: center
  max-width: 800px

  h1
    text-align: center
    margin-top: 30px

  img
    height: 200px

  .article-description
    margin-left: -60px
    padding-right: 80px
    h1
      font-size: 25px
      margin-bottom: -10px
    p
      font-size: 18px


  .recent-articles
    margin-top: 20px

    .grid__col
      margin-top: 35px

    h1
      font-size: 25px
      margin-bottom: -10px
      margin-top: 10px

      a
        color: black

    p
      margin-bottom: -10px
      margin-left: 20px
      margin-right: 20px

  .line
    height: 100px
    margin-top: 50px
    margin-bottom: 20px
