<div id="starting-block">
  <div class="x">
    <nav>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Home</a></li>
    </nav>


    <div class="contain-startblock">
      <div class="grid">
        <div class="grid__col grid__col--1-of-2 quick-about">
          <h1>Hey, my name is Ludvig</h1>
          <p>tacos helvetica kitsch food truck. Poutine selvage quinoa, four loko yuccie locavore banh.</p>
        </div>

        <div class="grid__col grid__col--1-of-2">
          <img src="assets/img/ludvig-at-desk.svg" alt="There should be an image here :O" />
        </div>
      </div>
    </div>


  </div>
</div>

  <div class="whitespace">

  </div>
