<div id="starting-block">
  <div class="x">
    <nav>
      <li><a href="#articles">Articles</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#home">Home</a></li>
    </nav>

    <div class="mobile-nav-toggle">
      <img src="assets/img/menu-btn.svg" alt="" class="mobile-btn" />
    </div>


    <div class="contain-startblock">
      <div class="grid">
        <div class="grid__col grid__col--1-of-2 quick-about">
          <h1>Hey, my name is Ludvig</h1>
          <p>tacos helvetica kitsch food truck. Poutine selvage quinoa, four loko yuccie locavore banh.</p>
        </div>

        <div class="grid__col grid__col--1-of-2">
          <img src="assets/img/ludvig-at-desk.svg" alt="There should be an image here :O" />
        </div>
      </div>
    </div>


  </div>
</div>

<div class="about-section" id="about">
  <img src="assets/img/imac.svg" alt="There should be an image here :O" />
  <div class="content">
    <h1>Who am I?</h1>
    <p>I like to spend my freetime building things. I like to create Ruby on Rails apps, design/build websites and create IOS apps. I also like to play around on my ukulele. celiac hoodie master cleanse, twee flannel paleo. Deep v pour-over polaroid tumblr schlitz. Knausgaard
  brooklyn yuccie gochujang squid disk dee</p>
  </div>

  <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" />
</div>

<div class="work-section" id="projects">
  <h1>What I’m currently working on</h1>
  <hr class="grey-line">


  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      <img src="assets/img/imac.svg" alt="There should be an image here :O" />
    </div>

    <div class="grid__col grid__col--1-of-2">
      <h1>Yook.io</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
      </p>
      <a href="#">LINK TO PROJECT</a>
    </div>
  </div>

  <img src="assets/img/line-rightdown.svg" alt="There should be an image here :O" class="guiding-lines" />

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      <h1>Backyardcoding</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
      </p>
      <a href="#">LINK TO PROJECT</a>
    </div>

    <div class="grid__col grid__col--1-of-2">
      <img src="assets/img/imac.svg" alt="There should be an image here :O" />
    </div>
  </div>

  <img src="assets/img/line-leftdown.svg" alt="There should be an image here :O" class="guiding-lines" />

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      <img src="assets/img/imac.svg" alt="There should be an image here :O" />
    </div>

    <div class="grid__col grid__col--1-of-2">
      <h1>30 day illustration challenge</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
      </p>
      <a href="#">LINK TO PROJECT</a>
    </div>
  </div>

  <div class="grid__col grid__col--1-of-1">
    <a href="#" class="round-red-btn">See all projects</a>
  </div>

  <div class="grid__col grid__col--1-of-1 grid__col--centered">
    <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" />
  </div>

</div>


<div class="article-section" id="articles">
    <h1>I also write stuff</h1>
    <hr class="grey-line">
</div>


<div class="whitespace">

</div>
