<div class="grid__col--centered">
  <div id="starting-block">
    <div class="x">
      <header>
        <li><a href="#articles">Articles</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#home">Home</a></li>
      </header>


      <div class="mobile-nav-toggle">
        <img src="assets/img/menu-btn.svg" alt="" class="mobile-btn" />
      </div>


      <div class="contain-startblock">
        <div class="grid">
          <div class="grid__col grid__col--1-of-2 quick-about">
            <h1>Hey, my name is Ludvig</h1>
            <p>tacos helvetica kitsch food truck. Poutine selvage quinoa, four loko yuccie locavore banh.</p>
          </div>

          <div class="grid__col grid__col--1-of-2">
            <img src="assets/img/ludvig-at-desk.svg" alt="There should be an image here :O" />
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="about-section" id="about">
    <img src="assets/img/ludvig-on-display.svg" alt="There should be an image here :O" />
    <div class="content">
      <h1>Who am I?</h1>
      <p>What is that stupid illustration supposed to look like? Well that’s my face... My name is Ludvig Sørensen. When I'm not training my lightsaber skills and fighting space crime, I like to create Ruby on Rails & IOS apps, and I try to be a better illustrator. I also write and design articles. Feel free to take a tour of the website, you could see my <a href="#projects" class="link">projects</a>, my <a href="#articles" class="link">articles</a> or you could even write me an <a href="#footer" class="link">email</a>, please do it i’m so lonely :(</p>
    </div>

    <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" />
  </div>

  <div class="work-section" id="projects">
    <h1>What I’m currently working on</h1>
    <hr class="grey-line">


    <div class="grid">
      <div class="grid__col grid__col--1-of-2">
        <img src="assets/img/xcode-illustration.svg" alt="There should be an image here :O" />
      </div>

      <div class="grid__col grid__col--1-of-2">
        <h1>Learning Swift & Xcode</h1>
        <p>
          I use most of my time learning the ways of the force... uhm I mean the ways of Swift and Xcode. I build build both apps and games, here is one of them: <a href="https://itunes.apple.com/dk/app/binarrator-text-to-binary/id1050313508?l=da&mt=8" class="link">Binarrator - A text to binary translator</a>.
        </p>
        <a href="https://itunes.apple.com/dk/developer/trine-kinch/id1050313507?l=da" class="link">LINK TO PROJECT</a>
      </div>
    </div>

    <img src="assets/img/line-rightdown.svg" alt="There should be an image here :O" class="guiding-lines hide-on-small" />
    <div class="show-on-small">
      <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" style="margin-bottom: 40px" />
    </div>

    <div class="grid">
      <div class="grid__col grid__col--1-of-2 show-on-small">
        <img src="assets/img/website-illustration.svg" alt="There should be an image here :O" class="illustration"/>
      </div>

      <div class="grid__col grid__col--1-of-2">
        <h1>Launching a new web app</h1>
        <p>
          I am in the process of building a brand new web app. Its purpose is to provide coding projects/challenges on different topics, languages and difficulties. You'll be able to improve your skills in every aspect by working through projects that suit your skill.
        </p>
        <a href="https://github.com/Lutski/winelog.xyz" class="link">LINK TO PROJECT</a>
      </div>

      <div class="grid__col grid__col--1-of-2 hide-on-small">
        <img src="assets/img/website-illustration.svg" alt="There should be an image here :O" class="illustration"/>
      </div>
    </div>

    <img src="assets/img/line-leftdown.svg" alt="There should be an image here :O" class="guiding-lines hide-on-small" />
    <div class="show-on-small">
      <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" style="margin-bottom: 40px" />
    </div>

    <div class="grid">
      <div class="grid__col grid__col--1-of-2">
        <img src="assets/img/youtube-illustration.svg" alt="There should be an image here :O" />
      </div>

      <div class="grid__col grid__col--1-of-2">
        <h1>Trying out that youtube thing</h1>
        <p>
          I have set myself on quest, to create a youtube channel, I will post weekly videos on topics including, but not limited to Ruby on Rails, Swift and Web development/design.
        </p>
        <a href="#" class="link">LINK TO PROJECT</a>
      </div>
    </div>
    <br><br><br>
    <div class="grid">
      <!-- <div class="grid__col grid__col--1-of-1">
        <a href="#" class="round-red-btn">See all projects</a>
      </div> -->

      <div class="grid__col grid__col--1-of-1 grid__col--centered">
        <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" />
      </div>
    </div>

  </div>


  <div class="article-section" id="articles">
      <h1>I also write stuff</h1>
      <hr class="grey-line">

      <div class="grid__col grid__col--1-of-2">
        <img src="assets/img/article-illustration.svg" alt="There should be an image here :O" class="" />
      </div>

      <div class="grid__col grid__col--1-of-2 article-description">
        <h1>Ohh my goat, what is this?</h1>
        <p>
          This is where my articles sleep. I write and design each of them with love, so be nice to them.
        </p>
      </div>

      <div class="recent-articles">

        {% for post in site.posts %}
          <div class="grid__col grid__col--1-of-2">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p>
              {{ post.date | date_to_string }}
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt...
            </p>
          </div>
        {% endfor %}

      </div>
      <br><br><br>
      <div class="grid">
        <div class="grid__col grid__col--1-of-1">
          <a href="/articles" class="round-red-btn">See all articles</a>
        </div>

        <div class="grid__col grid__col--1-of-1 grid__col--centered">
          <img src="assets/img/line.svg" alt="There should be an image here :O" class="line" />
        </div>
      </div>
  </div>

</div>
  <!-- <div class="whitespace">

  </div> -->
